<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mt-5">Login Form</h2>
            <form id="login-form">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <p class="text-center mt-3">
                Are you new user? <a href="/register">Register</a>
            </p>
            <div class="error-message alert alert-danger" role="alert" style="display: none;"></div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("login-form").addEventListener("submit", async (event) => {
            event.preventDefault();
            const formData = new FormData(event.target);
            const jsonData = {
                email: formData.get("email"),
                password: formData.get("password")
            };
            try {
                const response = await fetch("/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(jsonData)
                })
                if (!response.ok) {
                    throw new Error(response.statusText);
                }
                const result = (await response).json();
                console.log(result);
                localStorage.setItem("token", result.jwt);
                window.location.href = "/user/admin-panel";
            } catch (error) {
                console.error('Error:', error);
                const alert = document.querySelector(".error-message");
                alert.textContent = error.message || "Login failed";
                alert.style.display = 'block';
            }
        });
    })
</script>
</body>
</html>