<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mt-5">Registration Form</h2>
            <form id="registration-form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <p class="text-center mt-3">
                Already have an account? <a href="/login">Log in</a>
            </p>
            <div class="error-message alert alert-danger" role="alert" style="display: none;"></div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const email = document.getElementById("email");
        const registrationForm = document.getElementById("registration-form");

        const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
        email.addEventListener("input", () => {
            if (!emailRegex.test(email.value)) {
                email.setCustomValidity("Invalid email address");
            } else {
                email.setCustomValidity("");
            }
        });

        registrationForm.addEventListener("submit", async (event) => {
            event.preventDefault();
            const formData = new FormData(event.target);
            const jsonData = {
                email: formData.get("email"),
                name: formData.get("name"),
                password: formData.get("password")
            };

            try {
                const response = await fetch("/register", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(jsonData)
                });

                if (!response.ok) {
                    throw new Error(response.statusText);
                }

                const result = await response.json();
                localStorage.setItem("token", result.jwt);
                window.location.href = "/user/admin-panel";
            } catch (error) {
                const alert = document.querySelector(".error-message");
                alert.textContent = error.message || "Registration failed";
                alert.style.display = 'block';
            }
        });
    })
</script>
</body>
</html>